:root {
    --primColor: #828186;
    --secColor: #cec7bf;
    --tertColor: #f0f0f0;
    --quarColor: #f7f3ef;
    --primFont: 'Jost', sans-serif;
    --secFont: 'Poppins', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--primFont);
    background-color: var(--quarColor);
}

header {
    padding-bottom: 25%;
    color: white;
    
}

.top-header {
    position: fixed;
    max-height: 110px;
    top: 0;
    left: 0;
    width: 100%;
    /* background-color: rgb(230, 229, 229); */
    margin-bottom: 150px;
    z-index: 4;
}

.top-image {
    position: absolute;
}

.top-header:hover {
    background-color: white;
    width: 100%;
    color: black;
    transition: all 0.3s ease-out;
    padding-top: .5%;
}

.top-header a,
.top-header a:hover {
    color: inherit;
}

.header-ul,
.h1 {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* INSIDE .top-header INSIDE of .header-ul > li */

.main-nav ul li a {
    color: black;
    padding-right: 10px;
    font-size: 15px;font-size: calc(10px + (15px - 10px) * ((100vw - 320px) / 680));
}

.h1 {
    font-size: 15px;
    font-weight: 800;
    letter-spacing: 5px;
    position: relative;
}

/* END .top-header */

/* START hero-section */

.hero-section {
    position: relative;
}

.hero-section h2 {
    text-shadow: .1px .1px .1px rgb(164, 162, 162);
    padding-top: 20%;
    padding-bottom: 3%;
    font-weight: 1000;
    letter-spacing: 10px;
    font-size: 60px;
    font-family: var(--secFont);
}

.hero-section a {
    color: white;
    font-size: 14px;
    letter-spacing: 5px;
    font-weight: 700;
}

/* END hero-section */


/* START main */

.main-section1,
.main-section8 {
    background-color: white;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 40px;
}

.card {
    border: none;
}

.text-section {
    padding-top: 80%;
    width: 100%;
    height: 100%;
    color: white;
    /* gradient from bottom up light black up to top of text section */
    background-image: linear-gradient(180deg, transparent 40%, rgba(0, 0, 0, .8) 87%);
}

.h3 {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 600;
    font-family: var(--secFont);
}


.text-section button,
.text-section4 button,
.main-section6 button,
.main-section9 button {
    width: 220px;
    height: 45px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 3px;
    font-family: var(--secFont);
}

.text-section button:hover,
.text-section4 button:hover,
.main-section6 button:hover,
.main-section9 button:hover {
    background-color: rgb(233, 208, 187);
    transition: all .8s ease-out;
}

.main-transition1 {
    padding-top: 50px;
    padding-bottom: 50px;
    color: black;
}

.transition1-p1 {
    font-family: var(--secFont);
    font-size: 40px;
    letter-spacing: 2px;
}

.main-section3 {
    position: relative;
    width: 100%;
    background-color: white;
}

video {
    margin: 0 auto;
    display: block;
    width: 100%;
}

.fade-one {
    position: absolute;
    background: linear-gradient(180deg, rgba(0, 0, 0, .5), transparent 20%, transparent 80%, rgba(0, 0, 0, .5));
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.little-black-dress {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    color: white;
    font-family: var(--secFont);
    z-index: 1;
    letter-spacing: 3px;
}

.little-black-dress p {
    font-weight: 500;
    font-size: 70px;
    text-shadow: .1px .1px .1px rgb(164, 162, 162);
}

.little-black-dress a {
    font-family: var(--secFont);
    color: white;
    font-size: 15px;
    font-weight: 200;
}

.main-section4 {
    background-color: white;
    width: 100%;
    padding: 50px 0 60px 0;
}

.text-section4 {
    color: white;
    padding-top: 55%;
}

.text-section4 h3 {
    font-weight: 400;
    font-family: var(--secFont);
    font-size: 26px;
}

.text-section4 p {
    font-family: sans-serif;
    font-size: 18px;
}

.main-section5,
.main-section7 {
    background-color: white;
    width: 100%;
    padding: 50px 0 60px 0;
}

.main-section5 h3,
.main-section7 h3 {
    font-family: var(--secFont);
    font-size: 15px;
    letter-spacing: .8px;
    padding-bottom: 1.5rem;
}

.main-section5 .content,
.main-section7 .content {
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
}

.each-color-option {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin-right: 1%;
    border: 1px solid black;
}

.pink {
    background-color: pink;
}

.blue {
    background-color: blue;
}

.green {
    background-color: greenyellow;
}

.purple {
    background-color: purple;
}

.black {
    background-color: black;
}



.sec-hero {
    position: absolute;
}

.always-fits {
    position: relative;
    padding-top: 25%;
    color: white;
    font-family: var(--secFont);
    margin: 0;
}

.first-p {
    letter-spacing: 2px;
    margin-bottom: 0;
    font-size: 80px;
    font-weight: 800;
}

.main-section7 {
    padding-top: 25%;
}

.main-section8 {
    padding-bottom: 10%;
}

.content-button {
    padding-top: 30%;
}

.h2 {
    color: black;
    font-size: 25px;
    letter-spacing: .5px;
    font-weight: 800;
}

.main-section9 {
    background-color: white;
    padding-bottom: 6%;
}

.main-section10 img:hover {
    opacity: .8;
    background-color: black;
    /* transition: all ease-in black .8s; */
    width: 100%;
    /* border: black solid 2px; */
}

.at-good-american {
    letter-spacing: 4px;
    color: black;
    font: var(--secFont);
    font-size: 27px;
    font-weight: 600;
}

.main-section11 {
    border-bottom: 1px solid rgb(196, 196, 196);
    width: 100%;
}

/* END main */